.cart-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .cart-body{
        flex:  1 1 auto;
        height: calc(100% - 6.75rem);
        overflow: auto;
        margin-right: -.75rem;
    }
}